@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");

.screen a {
    display: contents;
    text-decoration: none;
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

.container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
}

* {
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --gray2: #b6bac3;
    --gray6: #222222;
    --white: #ffffff;

    --font-size-l2: 22px;
    --font-size-m2: 18px;
    --font-size-s2: 16px;

    --font-family-roboto: "Roboto", Helvetica;
}
.roboto-normal-cadet-blue-16px {
    color: var(--gray2);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-s2);
    font-style: normal;
    font-weight: 400;
}

.roboto-medium-black-18px {
    color: var(--black);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m2);
    font-style: normal;
    font-weight: 500;
}

.frame-1 {
    align-items: flex-start;
    background-color: #c4c4c4;
    display: flex;
    min-height: 100vh;
    padding: 0 19px;
}

.frame-1 .overlap-group1 {
    align-items: center;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/61a523ac09eb661bb5b3b479/releases/61a9ee3ad69c176c0e01970a/img/rectangle-1@2x.svg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    margin-left: 21px;
    min-height: 338px;
    padding: 20px 0;
    width: 489px;
}

.frame-1 .modal-page-text-block {
    align-items: center;
    background-color: var(--white);
    display: flex;
    height: 28px;
    min-width: 489px;
    padding: 0 16px;
}

.frame-1 .cap {
    color: var(--gray6);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-l2);
    font-weight: 500;
    letter-spacing: 0.15px;
    line-height: 28px;
    min-height: 28px;
    white-space: nowrap;
    width: 425px;
}

.frame-1 .add24 {
    cursor: pointer;
    height: 24px;
    margin-left: 8px;
    width: 24px;
}

.frame-1 .line-3 {
    height: 1px;
    margin-top: 11px;
    width: 489px;
}

.frame-1 .group-8 {
    align-items: flex-end;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    min-height: 66px;
    width: 457px;
}

.frame-1 .frame-1321314070 {
    align-items: flex-start;
    display: flex;
    min-width: 457px;
}

.frame-1 .unsplash {
    height: 45px;
    width: 45px;
}

.frame-1 .frame-1321314069 {
    align-items: flex-start;
    display: flex;
    height: 50px;
    margin-left: 9px;
    min-width: 403px;
}

.frame-1 .frame-1321314068 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 50px;
    width: 337px;
}

.frame-1 .frame-1321314067 {
    align-items: center;
    display: flex;
    height: 24px;
    min-width: 337px;
}

.frame-1 .text-1-1 {
    letter-spacing: 0.25px;
    line-height: 24px;
    min-height: 24px;
    min-width: 64px;
    white-space: nowrap;
}

.frame-1 .text {
    letter-spacing: 0.25px;
    line-height: 22px;
    margin-left: 12px;
    min-height: 22px;
    min-width: 57px;
    white-space: nowrap;
}

.frame-1 .overlap-group {
    height: 12px;
    margin-left: 12px;
    position: relative;
    width: 29px;
}

.frame-1 .shape {
    height: 12px;
    left: 0;
    position: absolute;
    top: 0;
    width: 26px;
}

.frame-1 .charge {
    height: 10px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 7px;
}

.frame-1 .shape-1 {
    height: 6px;
    left: 26px;
    position: absolute;
    top: 3px;
    width: 3px;
}

.frame-1 .text-1 {
    letter-spacing: 0.25px;
    line-height: 22px;
    min-height: 26px;
    white-space: nowrap;
}

.frame-1 .text-2 {
    letter-spacing: 0.25px;
    line-height: 22px;
    margin-left: 8px;
    min-height: 26px;
    white-space: nowrap;
}

.frame-1 .line-4 {
    height: 2px;
    margin-right: 1px;
    margin-top: 15px;
    width: 402px;
}

.frame-1 .group-1 {
    align-items: flex-end;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    min-height: 66px;
    width: 457px;
}

.frame-1 .text-5 {
    letter-spacing: 0.25px;
    line-height: 24px;
    min-height: 24px;
    min-width: 41px;
    white-space: nowrap;
}

.frame-1 .charge-1 {
    height: 10px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 21px;
}

.frame-1 .text-9 {
    letter-spacing: 0.25px;
    line-height: 24px;
    min-height: 24px;
    min-width: 92px;
    white-space: nowrap;
}

.frame-1 .charge-2 {
    height: 10px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 11px;
}

.frame-1 .group-14 {
    align-items: center;
    background-color: var(--white);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    margin-left: 1322px;
    margin-top: 490px;
    min-height: 100px;
    padding: 13px 0;
    width: 50px;
}

.frame-1 .add24-1 {
    height: 24px;
    width: 24px;
}

.frame-1 .line-5 {
    height: 1px;
    margin-top: 13px;
    width: 50px;
}

.frame-1 .remove24 {
    height: 24px;
    margin-top: 12px;
    width: 24px;
}